<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.hotel.mapper.RoomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feng.hotel.domain.Room">
        <id column="id" property="id" />
        <result column="room_no" property="roomNo" />
        <result column="price" property="price" />
        <result column="status" property="status" />
        <result column="order_id" property="orderId" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="modifier" property="modifier" />
        <result column="modify_time" property="modifyTime" />
        <result column="valid" property="valid" />
    </resultMap>

</mapper>
